
header{
    display: flex;
    align-items: center;
    background-color: 	 #990000;
    flex-direction: column;
}

header p{
     color: white;
}



#contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contenedor p{
    font-size: 30px;
    margin: 0;
}

button{
    visibility: hidden;
}
